ul {
  background-color: bisque;
  border: 2px solid green;
  border-radius: 32px;
  padding: 30px;
  list-style: none;
}

li {
  background-color: antiquewhite;
  text-decoration: underline;
  font-size: 32px;
}

button {
  background-color: green;
  font-size: 20px;
  padding: 5px 10px;
  border-radius: 5px;
  border: none;
  margin-left: 10px;
}

input[type="checkbox"] {
  width: 20px;
  height: 20px;
}

input:checked + label {
    text-decoration: line-through;
}
